:root {
    --element-background: #eee;
    --button-hover-color: #ddd;
    --button-disabled-color: #888;
    --text-color: #000;
    --border-color: #888;
    --border-radius: 1rem;
    background: radial-gradient(111% 111% at 74.29% -11%, #a93300 0%, #005570 100%), linear-gradient(127.43deg, #00d5c8 0%, #2200aa 100%);
    background-blend-mode: difference, normal;
}
@media (prefers-color-scheme: dark) {
    :root {
        --element-background: #1f1f1f;
        --button-hover-color: #333;
        --text-color: #fff;
        --border-color: #555;
        background: linear-gradient(140.54deg, #608D00 0%, #D30000 72.37%), linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100FF 0%, #00FF57 100%), radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
        background-blend-mode: color-dodge, overlay, difference, normal;
    }
}
@media (max-width: 480px) {
    :root {
        font-size: 3.5vw;
    }
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text-color);
}
.container {
    padding: 1em;
    margin-bottom: 8vh;
    border-radius: var(--border-radius);
    background: var(--element-background);
    box-shadow: 0 .625rem 1.25rem #0000001a;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.button {
    margin-top: 1em;
    margin-bottom: 0.6em;
    width: 12em;
    height: 3em;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: inherit;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: inherit;
}
.button:hover {
    background-color: var(--button-hover-color);
}
.button.disabled {
    color: var(--button-disabled-color);
    cursor: not-allowed;
}

/* QR Code */
#qrcode > img {
    max-width: 300px;
    width: 30em;
    height: auto;
}

/* Passcode field */
#pincode-zone {
    display: flex;
}
#pincode-zone input {
    width: 1em;
    aspect-ratio: 1;
    margin: 0.2em;
    padding: 0.2em;
    text-align: center;
    font-size: 3rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: var(--element-background);
    color: inherit;
}

/* Drop zone */
.drop-zone {
    width: 20em;
    aspect-ratio: 1;
    margin: 0.6em;
    padding: 1em;
    text-align: center;
    font-size: 1rem;
    border: 4px dashed #2aaa8a;
    border-radius: var(--border-radius);
    color: #666;
}
.drop-zone__over {
    border-style: solid;
}
.drop-zone__input {
    display: none;
}

/* Modal */
.modal-window {
    position: fixed;
    background: #000d;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.modal-window > div {
    width: 17em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: var(--element-background);
    border-radius: var(--border-radius);
}
.modal-thumbnail {
    font-size: 5rem;
    margin-bottom: 0.1em;
}

/* Info */
#info-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0.5rem;
}
#info-icon a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--element-background);
}
#info-icon a:hover {
    color: var(--button-hover-color);
}
